<loading-image [is-loading]="isLoading"></loading-image>
<div class="container-fluid">
  <div class="card portal-card">
    <div class="card-body px-3 py-3">
      <form [formGroup]="licenseFormGroup" novalidate>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="licenseName" class="form-label">License Name</label>
              <input id="licenseName" name="licenseName" type="text" class="form-control" autocomplete="off" autofocus formControlName="licenseName" tabindex="1" pTooltip="Maximum 200 characters" tooltipPosition="top"
                     tooltipEvent="focus" required trimmed>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="licenseNo" class="form-label">License No.</label>
              <input id="licenseNo" name="licenseNo" type="text" class="form-control" autocomplete="off" autofocus formControlName="licenseNo" tabindex="2" pTooltip="Maximum 50 characters" tooltipPosition="top"
                     tooltipEvent="focus" trimmed>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="expiryDate" class="form-label">Issue Date</label>
              <p-calendar id="expiryDate" name="issueDate" placeholder="MM-DD-YYYY"
                          formControlName="issueDate"
                          tabindex="3"
                          dateFormat="mm-dd-yy"
                          [monthNavigator]="true"
                          [yearNavigator]="true"
                          yearRange="1900:2030"
                          [showIcon]="true">
              </p-calendar>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="expiryDate" class="form-label">Expiry Date</label>
              <p-calendar id="expiryDate" name="expiryDate" placeholder="MM-DD-YYYY"
                          formControlName="expiryDate"
                          tabindex="3"
                          dateFormat="mm-dd-yy"
                          [monthNavigator]="true"
                          [yearNavigator]="true"
                          yearRange="1900:2030"
                          [showIcon]="true">
              </p-calendar>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="issuingAuthority" class="form-label">Issuing Authority</label>
              <p-autoComplete formControlName="issuingAuthority" [suggestions]="issuingAuthorityResults" class="form-control"
                              (completeMethod)="onIssuingAuthoritySearch($event)" field="issueAuthority"
                              forceSelection="true" tabindex="4">
              </p-autoComplete>
            </div>
          </div>
        </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <div class="upload">
                  <p-fileUpload mode="advanced"
                                auto="true"
                                customUpload="true"
                                accept="image/*,application/pdf,.doc,.docx,application/msword"
                                maxFileSize="5000000"
                                tabindex="5"
                                (onSelect)="onFileSelect($event)">
                    <ng-template pTemplate="toolbar">
                      <p class="mt-3">Size Maximum 5MB(doc, docx, pdf, jpg, jpeg, png, gif format)</p>
                    </ng-template>
                    <ng-template let-file pTemplate="file">
                    </ng-template>
                    <ng-template pTemplate="content">
                    </ng-template>
                  </p-fileUpload>
                </div>
              </div>
            </div>
            <div class="col-md-9">
              <div class="form-group">
                <input id="fileName" name="fileName" type="text" class="form-control" autocomplete="off" formControlName="fileName" disabled trimmed>
              </div>
            </div>
          </div>
      </form>
    </div>
    <div class="card-footer">
      <ul class="list-inline mb-0 d-flex justify-content-between">
        <li class="list-inline-item">
          <a [routerLink]="['/license-certificate']" routerLinkActive="active" class="btn btn-primary btn-portal-border" tabindex="7">Back</a>
          <a (click)="onClear()" class="btn btn-primary btn-portal-border" tabindex="6" style="margin-left: 10px !important;">Clear</a>
        </li>
        <li class="list-inline-item">
        </li>
        <li class="list-inline-item">
          <button class="btn btn-primary btn-portal" pTooltip="Fill out form with valid info." tabindex="6"
                  tooltipPosition="left" [tooltipDisabled]="licenseFormGroup.valid" [disabled]="licenseFormGroup.invalid" (click)="onSave()">
            Save
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
  <p-toast key="toastKey1"></p-toast>
