<div id="page-content-wrapper">
    <applicant-portal-header (onToggleButtonClicked)="(showHideMenu)()" isVisibleToggleButton=0></applicant-portal-header>
    <section class="main-content">
        <div class="grid">
            <div class="col-12">
                <button pButton pRipple label="Add New" class="button-success btn-add" (click)="openNewRecruiter()"></button>
            </div>
        </div>
        <div style="padding: 0rem 1rem 1rem 1rem !important; ">
            <div class="card-body px-3 py-3" style="height: auto; background-color: white;">
                <form (ngSubmit)="onSearchClick()" [formGroup]="searchFg">
                    <div class="row">
                        <div class="col-sm-6 col-md-2 col-lg-2">
                            <div class="form-group">
                                <label for="sFirstName" class="form-label">First Name</label>
                                <input type="text" id="sFirstName" class="input-text form-control" formControlName="sFirstName" trimmed maxlength="100" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-2 col-lg-2">
                            <div class="form-group">
                                <label for="sLastName" class="form-label">Last Name</label>
                                <input type="text" id="sLastName" class="input-text form-control" formControlName="sLastName" trimmed maxlength="100" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-2 col-lg-2">
                            <div class="form-group">
                                <label for="sEmail" class="form-label">Email</label>
                                <input type="text" id="sEmail" class="input-text form-control" formControlName="sEmail" trimmed maxlength="100" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-2 col-lg-2">
                            <div class="form-group">
                                <label for="status" class="form-label">Status</label>
                                <select id="status" name="status" class="form-control" formControlName="status" tabindex="4" (change)='onStatusChange($event)'>
                                    <option value="" selected>All</option>
                                    <option value="1">Active</option>
                                    <option value="0">In Active</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-2 col-lg-2">
                            <div class="form-group" style="margin-top:20px;float:right">
                                <button type="button" (click)="onClear()" class="btn btn-search-clear mr-3" tabindex="7">Clear</button>
                                <button type="submit" class="btn btn-search" tabindex="6">Search</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <div class="container-fluid">
            <loading-image [is-loading]="isLoading"></loading-image>
            <p-table #recruiterTable [responsive]="true"
                     [value]="recruiters"
                     selectionMode="single"
                     [(selection)]="selectedAgency"
                     dataKey="RecruiterId"
                     [paginator]="true"
                     [rows]="rows"
                     [columns]="cols"
                     [totalRecords]="totalRecruiter"
                     [lazy]="true"
                     (onLazyLoad)="loadAgencyLazy($event)"
                     [rowsPerPageOptions]="[10,15,20]"
                     [showCurrentPageReport]="true"
                     currentPageReportTemplate="Total Records {{totalAgecny}}">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th>Login Id</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Telephone</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user let-rowData let-columns="columns">
                    <tr [pSelectableRow]="user">
                        <td>{{user.LoginId}}</td>
                        <td>{{user.FirstName}}</td>
                        <td>{{user.LastName}}</td>
                        <td>{{user.Email}}</td>
                        <td>{{user.Telephone}}</td>
                        <td>{{user.IsActive}}</td>
                        <td>
                            <a (click)="onEdit(user)">
                                <i class="pi pi-pencil"></i>
                            </a>
                            <a style="color:red" (click)="onDelete(user)" *ngIf="user.IsActive">
                                <i class="pi pi-trash"></i>
                            </a>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </section>
</div>
<p-dialog [(visible)]="recruiterDialog" [style]="{ width: '550px' }" header="{{addEditTxt}} Recruiter" [modal]="true" [draggable]="false" [resizable]="false">

    <form [formGroup]="regForm" (ngSubmit)="onRecruiterSubmit()">
        <div class="field">
            <label for="loginId">Login Id: </label>
            <input pInputText [pKeyFilter]="'alphanum'" formControlName="loginId" class="input-text" required id="loginId" maxlength="50" autocomplete="off" />
            <small class="p-error" *ngIf="submitted && !loginId">Login Id is required.</small>
        </div>

        <div class="field">
            <label for="password">Password: </label>
            <input type="password" formControlName="password" class="input-text" autocomplete="off"
                   [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required id="password" maxlength="50" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
        </div>
        <div class="field">
            <label for="confirmPass">Confirm Password: </label>
            <input type="password" formControlName="confirmPassword" class="input-text" required autocomplete="off" id="confirmPass" maxlength="50" />
            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
            </div>
        </div>

        <div class="field">
            <label for="firstName">First Name: </label>
            <input pInputText [pKeyFilter]="'alpha'" id="firstName" class="input-text" formControlName="firstName" autocomplete="off" required maxlength="100" />
            <small class="p-error" *ngIf="submitted && !firstName">First Name is required.</small>
        </div>
        <div class="field">
            <label for="lastName">Last Name: </label>
            <input pInputText [pKeyFilter]="'alpha'" id="lastName" class="input-text" formControlName="lastName" autocomplete="off" required maxlength="100" />
            <small class="p-error" *ngIf="submitted && !lastName">Last Name is required.</small>
        </div>
        <div class="field">
            <label for="email">Email</label>
            <input type="text" id="email" formControlName="email" class="input-text" maxlength="100" autocomplete="off" required/>
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
        </div>
        <div class="field">
            <label for="telephone">Telephone</label>
            <p-inputMask mask="(999) 999-9999" formControlName="telephone" unmask="true"
                         placeholder="(999) 999-9999" [style]="{'width':'100%'}"></p-inputMask>
        </div>
        <div>
            <input type="checkbox" id="name" formControlName="isActive" />
            <label for="name" style="margin-left:12px">Active</label>
        </div>

        <label style="margin:12px 0">Assign Recruiter Role</label>
        <div style="margin-bottom:16px">
            <input type="checkbox" id="recruiter" formControlName="isRecruiter" style="margin-right:8px" />
            <label for="recruiter" style="margin-right:12px">Recruiter</label>

            <input type="checkbox" id="supervisor" formControlName="isSupervisor" style="margin-right:8px" />
            <label for="supervisor" style="margin-right:12px">Supervisor</label>

            <input type="checkbox" id="manager" formControlName="isManager" style="margin-right:8px" />
            <label for="manager" style="margin-right:12px">Hiring Manager</label>

            <input type="checkbox" id="administrator" formControlName="isAdministrator" style="margin-right:8px" />
            <label for="administrator" style="margin-right:12px">Administrator</label>
        </div>
        <p-footer>
            <div>
                <button pButton label="Cancel" class="btn-cancel" (click)="hideDialog()"></button>
                <div style="float:right">
                    <button label="Clear" type="reset" pButton class="btn-clear" (click)="onClickClear()"></button>
                    <button label="Save" type="submit" pButton class="btn-save" [disabled]="regForm.invalid"></button>
                </div>
            </div>
        </p-footer>
    </form>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }" #cd>
    <ng-template pTemplate="footer">
        <button type="button" icon="pi pi-times" label="No" class="btn-no" (click)="cd.reject()"></button>
        <button type="button" icon="pi pi-check" label="Yes" class="btn-yes" (click)="cd.accept()"></button>
    </ng-template>
</p-confirmDialog>

<p-toast key="toastKey1"></p-toast>


