<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 mb-3">
      <fieldset>
        <div class="row mb-3">
          <div class="col-md-4">
            <div class="card portal-card">
              <div class="card-body px-3 py-3" style="height:auto;">
                <div class="form-group">
                  <label for="employmentClass" class="form-label">Employment Class</label>
                  <select id="employmentClass" name="employmentClass" class="form-control" #myEmployment
                          placeholder="fileType" (change)="onEmploymentClassChange(myEmployment.value)">
                    <option value="1099">1099</option>
                    <option value="W-2">W-2</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="fileType" class="form-label">File Type</label>
                  <select id="fileType" name="fileType" class="form-control" #mySelect
                          placeholder="fileType" (change)="onFileTypeChange(mySelect.value)">
                    <option value="" [disabled]="true">---  Select File Type  ---</option>
                    <option *ngFor="let fileType of fileTypes" [value]="fileType">{{fileType}}</option>
                  </select>
                </div>
                <a *ngIf="filePath" target="_blank" href={{filePath}} routerLinkActive="active" class="btn-portal btn-block ui-button mb-2 btn-download">
                  <!--<i class="fa fa-download"></i>-->
                  Download
                </a>
                <div *ngIf="mySelect.value!=''" class="upload">
                  <p-fileUpload mode="advanced"
                                auto="true"
                                customUpload="true"
                                chooseLabel="Upload"
                                accept="image/*,application/pdf,.doc,.docx,application/msword"
                                maxFileSize="5000000"
                                tabindex="1"
                                (onSelect)="onFileSelect($event)"
                                (uploadHandler)="onUploadHandler($event)"
                                [auto]="true">
                    <ng-template pTemplate="toolbar">
                      <p class="mt-3">Size Maximum 5MB(doc, docx, pdf, jpg, jpeg, png, gif format)</p>
                    </ng-template>
                    <ng-template let-file pTemplate="file">
                    </ng-template>
                    <ng-template pTemplate="content">
                    </ng-template>
                  </p-fileUpload>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-8">
            <h2>{{mySelect.value}}</h2>
            <loading-image [is-loading]="isLoading"></loading-image>
            <div class="card portal-card">
              <div class="card-body px-0 py-0" style="height:auto;margin-top: 12px;">
                <p-table #table [responsive]="true"
                         [value]="userFiles"
                         selectionMode="single"
                         [(selection)]="selectedFile"
                         dataKey="userFileID"
                         [paginator]="true"
                         [rows]="5"
                         (onPage)="paginate($event)">
                  <ng-template pTemplate="header">
                    <tr>
                      <th>File Name</th>
                      <th class="text-center">Uploaded Date</th>
                      <th class="text-center">Delete</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-userFile>
                    <tr>
                      <td (click)="onViewPdf(userFile)" style="cursor:pointer">{{userFile.FileName}}</td>
                      <td class="text-center">{{userFile.CreatedDate | date:'MM-dd-yyyy'}}</td>
                      <td class="text-center"><a (click)="onDeleteFile(userFile.UserFileID)"><i class="fa fa-trash-alt text-danger"></i></a></td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</div>

<p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle text-danger">
  <p-footer>
    <button type="button" class="btn btn-primary btn-portal-border btn-dialog btn-cancel" pButton label="No" (click)="cd.reject()"></button>
    <button type="button" class="btn btn-primary btn-portal btn-dialog" pButton label="Yes" (click)="cd.accept()"></button>
  </p-footer>
</p-confirmDialog>

<p-toast key="toastKey1"></p-toast>
