<app-com-upload-file fileType="EmploymentContract" fileCaption="Employment Contract Form" filePath=""
                     (getFileTypeChange)="getFileTypeChange($event)"></app-com-upload-file>

<div class="step-body">
  <div class="float-md-left">
    <button type="button" class="btn btn-primary btn-block btn-portal" (click)="prevPage()"><i class="fa fa-angle-left" aria-hidden="true"></i>Previous</button>
  </div>
  <div class="float-md-right">
    <button type="button" class="btn btn-primary btn-block btn-portal" (click)="nextPage()">Next<i class="fa fa-angle-right" aria-hidden="true"></i></button>
  </div>
</div>
