
<div id="page-content-wrapper">
    <applicant-portal-header (onToggleButtonClicked)="(showHideMenu)()" isVisibleToggleButton=0></applicant-portal-header>
    <section class="main-content">
        <div class="grid">
            <div class="col-12">
                <button pButton pRipple label="Add New" class="button-success btn-add" (click)="openNewAgency()"></button>
            </div>
        </div>
        <div class="container-fluid">
            <loading-image [is-loading]="isLoading"></loading-image>
            <p-table #agencyTable [responsive]="true"
                     [value]="agencies"
                     selectionMode="single"
                     [(selection)]="selectedAgency"
                     dataKey="AgencyId"
                     [paginator]="true"
                     [rows]="rows"
                     [columns]="cols"
                     [totalRecords]="totalAgency"
                     [lazy]="true"
                     (onLazyLoad)="loadAgencyLazy($event)"
                     [rowsPerPageOptions]="[10,15,20]"
                     [showCurrentPageReport]="true"
                     currentPageReportTemplate = "Total Records: {{count}}">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th>Agency Name</th>
                        <th>Agency URL Prefix</th>
                        <th>Agency Email</th>
                        <th>Agency Phone</th>
                        <th>Contact Person</th>
                        <th>Contact Person Phone</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-agency let-columns="columns">
                    <tr [pSelectableRow]="agency">
                        <td>{{agency.AgencyName}}</td>
                        <td>{{agency.UrlPrefix}}</td>
                        <td>{{agency.AgencyEmail}}</td>
                        <td>{{agency.AgencyPhone}}</td>
                        <td>{{agency.AgencyContactPerson}}</td>
                        <td>{{agency.AgencyContactPersonPhone}}</td>
                        <td>{{agency.IsActive}}</td>

                        <td>
                            <a (click)="onEdit(agency)"><i class="pi pi-pencil"></i></a>
                            <a style="color:red" (click)="onDelete(agency)"><i class="pi pi-trash"></i></a>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </section>
</div>
<p-dialog [(visible)]="agencyDialog" [style]="{ width: '450px' }" header="{{addEditTxt}} Agency" [modal]="true" [draggable]="false" [resizable]="false">
    <form [formGroup]="agencyForm" (ngSubmit)="onAgencySubmit()">
        <div class="field">
            <label for="agencyName">Agency Name</label>
            <input type="text" pInputText id="agencyName" class="input-text" formControlName="agencyName" required autofocus maxlength="100" trimmed/>
        </div>
        <div class="field">
            <label for="urlPrefix">Agency URL Prefix</label>
            <input pInputText formControlName="urlPrefix" class="input-text" [pKeyFilter]="'alpha'" required id="urlPrefix" maxlength="50" (focusout)="checkDuplicateUrl()"/>
        </div>
        <div class="field">
            <label for="agencyEmail">Agency Email</label>
            <input type="text" id="agencyEmail" class="input-text" formControlName="agencyEmail"  trimmed required maxlength="100" />
        </div>
        <div class="field">
            <label for="agencyPhone">Agency Phone</label>
            <p-inputMask mask="(999) 999-9999" required class="input-text" formControlName="agencyPhone" unmask="true"
                         placeholder="(999) 999-9999" [style]="{'width':'100%'}"></p-inputMask>
        </div>
        <div class="field">
            <label for="agencyAdress">Agency Address</label>
            <textarea pInputTextarea id="agencyAdress" formControlName="agencyAddress" maxlength="200" [autoResize]="true" trimmed></textarea>
        </div>
        <div class="field">
            <label for="contactPerson">Agency Contact Person</label>
            <input type="text" pInputText id="contactPerson" class="input-text" formControlName="agencyContactPerson" trimmed/>
        </div>
        <div class="field">
            <label for="personPhone">Agency Contact Person Phone</label>
            <p-inputMask mask="(999) 999-9999" class="input-text" formControlName="contactPersonPhone" unmask="true"
                         placeholder="(999) 999-9999" [style]="{'width':'100%'}"></p-inputMask>
        </div>
        <div>
            <input type="checkbox" id="name" formControlName="isActive" />
            <label for="name" style="margin-left:12px">Active</label>
        </div>


        <p-footer>
            <div>
                <button pButton label="Cancel" class="" (click)="hideDialog()" type="reset"></button>
                <div style="float:right">
                    <button pButton label="Clear" class="btn-clear" (click)="onClickClear()" type="reset"></button>
                    <button type="submit" pButton pRipple label="Save" class="btn-save" [disabled]="agencyForm.invalid"></button>
                </div>
            </div>
        </p-footer>
    </form>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }" #cd>
    <ng-template pTemplate="footer" class="png-footer">
        <button type="button" pButton label="No" class="btn-no" (click)="cd.reject()" style="background-color:red !important"></button>
        <button type="button" pButton label="Yes" class="btnyes" (click)="cd.accept()" style="background-color:red !important"></button>
    </ng-template>
</p-confirmDialog>
<p-toast key="toastKey1"></p-toast>
