<h4 class="header-style">
    All documents must be UNEXPIRED
</h4>
<loading-image [is-loading]="isLoading"></loading-image>
<div class="container-fluid">
    <div class="card portal-card">
        <div class="card-body" style="height:auto">
            <a [routerLink]="['./add-edit']" *ngIf="userIdentificationInfo && userIdentificationInfo.length !== 0" class="text-right card-edit"><i class="fa fa-plus text-edit"></i></a>
            <div class="row">
                <div class="col-md-12">

                    <div class="empty-state text-center" *ngIf="userIdentificationInfo && userIdentificationInfo.length === 0">
                        <img src="assets/img/high-school.svg" class="img-fluid mb-3" width="72" alt="">
                        <h5 class="mb-3">You haven't added any Identification yet.</h5>
                        <a [routerLink]="['./add-edit']" class="btn btn-primary btn-portal-border">Add Identification Info.</a>
                    </div>

                    <ul class="timeline">
                        <li *ngFor="let idInfo of userIdentificationInfo">
                            <div class="timeline-list">
                                <img src="assets/img/high-school.svg" class="img-fluid" width="30" alt="">
                                <div class="d-flex justify-content-between">
                                    <div class="mb-3">
                                        {{ idInfo.LicenseNameA }} <span *ngIf="idInfo.LicenseNameA && idInfo.LicenseNameB"> - </span>{{ idInfo.LicenseNameB }}
                                    </div>                                                                     
                                    <ul class="list-inline mr-5">
                                        <li class="list-inline-item mr-4"><a [routerLink]="['./add-edit',idInfo.LicenseID]" class="text-primary"><i class="fa fa-pencil-alt"></i> Edit</a></li>
                                        <li class="list-inline-item mr-4" *ngIf="idInfo.FileName"><a class="text-primary" (click)="onViewPdf(idInfo)"><i class="fa fa-eye mr-2"></i>View</a></li>
                                        <li class="list-inline-item"><a (click)="onDelete(idInfo.LicenseID)" class="text-danger"><i class="fa fa-trash-alt"></i> Delete</a></li>
                                    </ul>
                                </div>
                                <h6 *ngIf='idInfo.LicenseNo'>{{idInfo.LicenseNo}}</h6>
                                <div class="refer">
                                    <p *ngIf='idInfo.IssuedDate'><label for="" style="color:#434A54">Issue Date:&nbsp;</label><label for="">{{idInfo.IssuedDate}}</label></p>
                                    <p *ngIf='idInfo.ExpiryDate'><label for="" style="color:#434A54">Expiry Date:&nbsp;</label><label for="">{{idInfo.ExpiryDate}}</label></p>
                                </div>
                                <div class="refer">
                                    <p *ngIf='idInfo.FileName'><label for="" style="color:#434A54">File Name:&nbsp;</label><label for="">{{idInfo.FileName}}</label></p>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>


<p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle text-danger">
    <p-footer>
        <button type="button" class="btn btn-primary btn-portal-border btn-dialog btn-cancel" pButton label="No" (click)="cd.reject()"></button>
        <button type="button" class="btn btn-primary btn-portal btn-dialog" pButton label="Yes" (click)="cd.accept()"></button>
    </p-footer>
</p-confirmDialog>

<p-toast key="toastKey1"></p-toast>
