<div id="page-content-wrapper">
    <applicant-portal-header (onToggleButtonClicked)="(showHideMenu)()" isVisibleToggleButton=0></applicant-portal-header>
    <section class="main-content">
        <div class="container-fluid">
            <div class="grid">
                <div class="col-12">
                    <button pButton pRipple label="Add New" class="p-button-success" (click)="onNew()" tabindex="0"></button>
                </div>
            </div>
            <div class="container-fluid mt-2">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-body" style="height: auto; background-color: white;">
                            <form [formGroup]="searchFormGroup">
                                <div class="row">
                                    <div class="col-sm-6 col-md-3 col-lg-3">
                                        <div class="form-group">
                                            <label for="searchPosition" class="form-label">Position</label>
                                            <p-autoComplete formControlName="searchPosition" [suggestions]="positionResults" class="form-control"
                                                            (completeMethod)="onPositionSearch($event)" autocomplete="off"
                                                            forceSelection="true" (onSelect)="onPositionSelect($event)" [dropdown]="true" tabindex="1">
                                                <ng-template let-position pTemplate="item">
                                                    <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                                                        <div style="font-size:18px;float:left;margin:10px 10px 0 0">{{position.PositionName}}</div>
                                                    </div>
                                                </ng-template>
                                            </p-autoComplete>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-2 col-lg-2">
                                        <div class="form-group" style="vertical-align:middle;float:left;margin-top:15px;">
                                            <button type="button" (click)="onSearchClear()" class="btn btn-primary btn-portal-border mr-3" tabindex="3">Clear</button>
                                            <button type="submit" (click)="onSearchClick()" class="btn btn-primary btn-portal" tabindex="2">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <loading-image [is-loading]="isLoading"></loading-image>
                <p-table #table [responsive]="true"
                         [value]="positions"
                         selectionMode="single"
                         [(selection)]="selectedPosition"
                         dataKey="Id"
                         [paginator]="true"
                         [rows]="rows"
                         [columns]="cols"
                         [totalRecords]="totalPosition"
                         [lazy]="true"
                         (onLazyLoad)="onLazyLoadPositions($event)"
                         [rowsPerPageOptions]="[10,15,20]"
                         [showCurrentPageReport]="true"
                         currentPageReportTemplate="Total Records: {{totalPosition}}">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th>Position Name</th>
                            <th>Action</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-position let-rowData let-columns="columns">
                        <tr [pSelectableRow]="form">
                            <td>{{position.PositionName}}</td>
                            <td><a (click)="onEdit(position)"><i class="pi pi-pencil"></i></a><a style="color:red" (click)="onDelete(position)"><i class="pi pi-trash"></i></a></td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </section>
</div>

<p-dialog [(visible)]="showDialog" [style]="{ width: '650px' }" header="{{addEditTitle}} Position" [modal]="true" [draggable]="false" [resizable]="false" (onHide)="hideModal()">
    <form [formGroup]="formGroup" novalidate>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="positionName" class="form-label">Position Name</label>
                    <input type="text" id="positionName" name="positionName" class="form-control" formControlName="positionName" tabindex="1" required autofocus />
                </div>
                <div *ngIf="formGroup.get('positionName').hasError('duplicatePositionError')">
                    <div style="color:red;font-weight:normal">Position already exist</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="com-md-12">
                <ul class="list-inline mb-0 d-flex justify-content-between mt-2 ml-3">
                    <li class="list-inline-item">
                        <button type="button" class="btn btn-primary btn-portal-border" (click)="onHide()">Close</button>
                    </li>
                    <li class="list-inline-item">
                        <button type="button" class="btn btn-primary btn-portal-border" (click)="onClear()">Clear</button>
                    </li>
                    <li class="list-inline-item">
                        <button type="submit" class="btn btn-primary btn-portal" (click)="onSave()" [disabled]="!formGroup.valid">Save</button>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</p-dialog>

<p-toast></p-toast>
<p-confirmDialog [style]="{ width: '500px' }" #cd>
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-times" label="No" class="btn-no" (click)="cd.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="Yes" class="btn-yes" (click)="cd.accept()"></button>
    </ng-template>
</p-confirmDialog>
<p-toast key="toastKey1"></p-toast>

