<loading-image [is-loading]="isLoading"></loading-image>
<div class="tab-pane" id="v-pills-previous-employment" role="tabpanel" aria-labelledby="v-pills-previous-employment-tab">
  <div class="card portal-card">
    <div class="card-body">
      <a [routerLink]="['./add-edit']" *ngIf="(employments && employments.length !== 0)"
         class="text-right card-edit"><i class="fa fa-plus text-edit"></i></a>
      <div class="row">
        <div class="col-md-12">
          <div class="empty-state text-center" *ngIf="(employments && employments.length === 0)">
            <img src="assets/img/employement.svg" class="img-fluid mb-3" width="72" alt="">
            <h5 class="mb-3">You haven't added any employment yet.</h5>
            <a [routerLink]="['./add-edit']" class="btn btn-primary btn-portal-border">Add Employment</a>
          </div>
          <ul class="timeline">
            <li *ngFor="let employment of employments">
              <div class="timeline-list">
                <img src="assets/img/employement.svg" class="img-fluid" width="30" alt="">
                <div class="d-flex justify-content-between">
                  <h4>{{employment.CompanyName}}</h4>
                  <ul class="list-inline mr-5">
                    <li class="list-inline-item mr-4"><a [routerLink]="['./add-edit/',employment.ID]" class="text-primary"><i class="fa fa-pencil-alt"></i> Edit</a></li>
                    <li class="list-inline-item"><a class="text-danger" (click)="delete(employment.ID)"><i class="fa fa-trash-alt"></i> Delete</a></li>
                  </ul>
                </div>
                <p class="emp-address"><i class="fa fa-map-marker-alt"></i> {{employment.CompanyAddress}}</p>
                <div class="post">
                  <p><strong for="">{{employment.JobTItle}} | </strong> <span class="emp-time">{{getClientFormattedDate(employment.FromDate)}} - {{employment.ToDate==null?'Present':getClientFormattedDate(employment.ToDate)}}</span></p>
                  <p class="emp-responsible">{{employment.Responisiblities}}</p>
                  <p class="emp-salary"><strong>Salary: </strong>{{employment.StartingSalary}} <!--<strong>Ending Salary:</strong> {{employment.EndingSalary}}--></p>
                </div>
                <div class="supervisor">
                  <p><strong>Reason for leaving: </strong>{{employment.LeaveReason}} </p>
                  <p><strong>Supervisor: </strong> {{employment.Supervisor}}</p>
                  <p><label for="">Contact your previous Supervisor for a reference:</label> <strong class="text-danger">{{employment.CanContactThisEmployer==true?'YES':'NO'}}</strong></p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h5 style="color:gray;font-weight:bold"
              *ngIf="employmentsImported && employmentsImported.length !== 0">
                &nbsp;&nbsp;&nbsp; Imported Employment History
          </h5>
          <ul class="timeline">
            <li *ngFor="let employment of employmentsImported">
              <div class="timeline-list">
                <img src="assets/img/employement.svg" class="img-fluid" width="30" alt="">
                <div class="d-flex justify-content-between">
                  <h4>{{employment.CompanyName}}</h4>
                  <ul class="list-inline mr-5">
                    <li class="list-inline-item"><a class="text-danger" (click)="deleteImportedEmployment(employment.ID)"><i class="fa fa-trash-alt"></i> Delete</a></li>
                  </ul>
                </div>
                <p class="emp-address"><i class="fa fa-map-marker-alt"></i> {{employment.CompanyAddress}}</p>
                <div class="post">
                  <p><strong for="">{{employment.JobTItle}} | </strong> <span class="emp-time">{{getClientFormattedDate(employment.FromDate)}} - {{employment.ToDate==null?'Present':getClientFormattedDate(employment.ToDate)}}</span></p>
                  <p class="emp-responsible">{{employment.Responisiblities}}</p>
                  <p class="emp-salary"><strong>Salary: </strong>{{employment.StartingSalary}} <!--<strong>Ending Salary:</strong> {{employment.EndingSalary}}--></p>
                </div>
                <div class="supervisor">
                  <p><strong>Reason for leaving: </strong>{{employment.LeaveReason}} </p>
                  <p><strong>Supervisor: </strong> {{employment.Supervisor}}</p>
                  <p><label for="">Contact your previous Supervisor for a reference:</label> <strong class="text-danger">{{employment.CanContactThisEmployer==true?'YES':'NO'}}</strong></p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>



<div class="card-footer">
  <ul class="list-inline mb-0 d-flex justify-content-between">
    <li class="list-inline-item">
      <button type="button" class="btn btn-primary btn-block btn-portal" (click)="prevPage()"><i class="fa fa-angle-left" aria-hidden="true"></i>Previous</button>
    </li>
    <li class="list-inline-item">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary btn-block btn-portal" (click)="nextPage()">Next<i class="fa fa-angle-right" aria-hidden="true" tabindex="7"></i></button>
      </div>
    </li>
  </ul>
</div>

<p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle text-danger">
  <p-footer>
    <button type="button" class="btn btn-primary btn-portal-border btn-dialog btn-cancel" pButton label="No" (click)="cd.reject()"></button>
    <button type="button" class="btn btn-primary btn-portal btn-dialog" pButton label="Yes" (click)="cd.accept()"></button>
  </p-footer>
</p-confirmDialog>

