<div class="tab-content" id="v-pills-tabContent">
  <div class="tab-pane fade show active" id="v-pills-applicant" role="tabpanel" aria-labelledby="v-pills-applicant-tab">
    <div class="card">
      <div class="card-body">
        <div class="row pt-2 border-bottom">
          <div class="col-4">
            <div class="row">
              <div class="col-3">
                <label for="">Full Name: </label>
              </div>
              <div class="col-9" *ngIf="editApplicantInfoModel.FirstName">{{editApplicantInfoModel.MiddleName ? editApplicantInfoModel.FirstName+' '+editApplicantInfoModel.MiddleName+' '+editApplicantInfoModel.LastName : editApplicantInfoModel.FirstName+' '+editApplicantInfoModel.LastName}}</div>
            </div>
          </div>
          <div class="col-4">
            <div class="row">
              <div class="col-3">
                <label for="">Address: </label>
              </div>
              <div class="col-9">
                {{editApplicantInfoModel.StreetAddress}}
                {{editApplicantInfoModel.Apartment}}
                {{(editApplicantInfoModel.ZipCode==='00000') ? "" :editApplicantInfoModel.ZipCode}}
                {{(editApplicantInfoModel.City==='Not Available') ? "" :editApplicantInfoModel.City}}
                {{(editApplicantInfoModel.State==='Not Available') ? "" :editApplicantInfoModel.State}}
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-3">
                <label for="">Date Of Birth: </label>
              </div>
              <div class="col-9">{{editApplicantInfoModel.DateOfBirth | date :'MM-dd-yyyy'}}</div>
            </div>
          </div>
        </div>
        <div class="row pt-2 border-bottom">
          <div class="col-4">
            <div class="row">
              <div class="col-3">
                <label for="">Phone: </label>
              </div>
              <div class="col-9">{{editApplicantInfoModel.Phone}}</div>
            </div>
          </div>
          <div class="col-4">
            <div class="row">
              <div class="col-3">
                <label for="">Email: </label>
              </div>
              <div class="col-9">{{editApplicantInfoModel.Email}}</div>
            </div>
          </div>
          <div class="col-4">
            <div class="row">
              <div class="col-3">
                <label for="">Gender: </label>
              </div>
              <div class="col-9">{{editApplicantInfoModel.Gender}}</div>
            </div>
          </div>
        </div>
        <div class="row pt-2 border-bottom">
          <div class="col-4">
            <div class="row">
              <div class="col-3">
                <label for="">Country Of Birth: </label>
              </div>
              <div class="col-9">{{editApplicantInfoModel.CountryOfBirth}}</div>
            </div>
          </div>
          <div class="col-4">
            <div class="row">
              <div class="col-3">
                <label for="">Country Applied From:</label>
              </div>
              <div class="col-9">{{editApplicantInfoModel.CountryFromApplied}}</div>
            </div>
          </div>
          <div class="col-4">

          </div>
        </div>
        <div class="row pt-2 border-bottom">
          <div class="col-md-4">
            <div class="row">
              <div class="col-3">
                <label for="">Date Available: </label>
              </div>
              <div class="col-9">{{editApplicantInfoModel.DateAvailable| date :'MM-dd-yyyy'}}</div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-3">
                <label for="">Desire Salary: </label>
              </div>
              <div class="col-9">{{editApplicantInfoModel.DesiredSalary}}</div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-3">
                <label for="">Applied Position: </label>
              </div>
              <div class="col-9">{{editApplicantInfoModel.PositionAppliedFor}}</div>
            </div>
          </div>
        </div>
        <div class="row pt-2 border-bottom">
          <div class="col-md-4">
            <div class="row">
              <div class="col-6">
                <label for="">
                  Citizen of United States?:
                </label>
              </div>
              <div class="col-6">
                <strong class="text-success" *ngIf="editApplicantInfoModel.IsUSCitizen">YES</strong>
                <strong class="text-danger" *ngIf="!editApplicantInfoModel.IsUSCitizen">NO</strong>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-6">
                <label for="">
                  Authorized to work in the US?:
                </label>
              </div>
              <div class="col-6">
                <strong class="text-success" *ngIf="editApplicantInfoModel.IsAuthorized">YES</strong>
                <strong class="text-danger" *ngIf="!editApplicantInfoModel.IsAuthorized">NO</strong>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-6">
                <label for="">
                  Have you ever worked for this company?:
                </label>
              </div>
              <div class="col-6">
                <strong class="text-success" *ngIf="editApplicantInfoModel.IsOldClient">YES</strong>
                <strong class="text-danger" *ngIf="!editApplicantInfoModel.IsOldClient">NO</strong>
              </div>
            </div>
          </div>
        </div>
        <div class="row pt-2 border-bottom">
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-6">
                <p><strong>SSN:</strong></p>
              </div>
              <div class="col-md-6">{{ValidSSNFormat(editApplicantInfoModel.ssn)}}</div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-6">
                <label for="">
                  Have you ever been convicted of a felony?
                </label>
              </div>
              <div class="col-md-6">
                <strong class="text-success" *ngIf="editApplicantInfoModel.IsConvict">YES</strong>
                <strong class="text-danger" *ngIf="!editApplicantInfoModel.IsConvict">NO</strong>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-6">
                <p>{{editApplicantInfoModel.ConvictionDetail}}</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>



