<loading-image [is-loading]="isLoading"></loading-image>
<div class="container-fluid">
  <div class="card portal-card">
    <div class="card-body">
      <a [routerLink]="['./add-edit-influenza-vaccination']" class="text-right card-edit"><i class="fa fa-edit text-edit"></i></a>
      <a class="text-right card-edit" (click)="onDownloadClick()" style="margin-top:50px;"><i class="fa fa-download"></i></a>
      <div class="row">
        <div class="col-md-12">
          <ul class="list-group">
            <li class="list-group-item list-group-item-action">
              <div class="row">
                <div class="col-4">
                  <label for="">Facility Name : </label>
                </div>
                <div class="col-8">{{influenzaVaccination?.FacilityName}}</div>
              </div>
            </li>
            <li class="list-group-item list-group-item-action">
              <div class="row">
                <div class="col-4">
                  <label for="">Reason for Declination : </label>
                </div>
                <div class="col-8">{{influenzaVaccination?.ReasonDeclination}}</div>
              </div>
            </li>
            <li class="list-group-item list-group-item-action">
              <div class="row">
                <div class="col-4">
                  <label for="">Signature : </label>
                </div>
                <div class="col-8">{{influenzaVaccination?.Signature}}</div>
              </div>
            </li>
            <li class="list-group-item list-group-item-action">
              <div class="row">
                <div class="col-4">
                  <label for="">Date : </label>
                </div>
                <div class="col-8">{{influenzaVaccination?.EntryDate | date :'MM-dd-yyyy'}}</div>
              </div>
            </li>
            <li class="list-group-item list-group-item-action">
              <div class="row">
                <div class="col-4">
                  <label for="">Name : </label>
                </div>
                <div class="col-8">{{influenzaVaccination?.Name}}</div>
              </div>
            </li>
            <li class="list-group-item list-group-item-action">
              <div class="row">
                <div class="col-4">
                  <label for="">Department : </label>
                </div>
                <div class="col-8">{{influenzaVaccination?.Department}}</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
