
<form [formGroup]="institutionForm" (ngSubmit)="onAddInstitutionSubmit()">
    <loading-image [is-loading]="isLoading"></loading-image>
    <div class="form-group">
        <label for="institutionName" class="form-label">Institution Name</label>
        <input id="institutionName" name="institutionName" required type="text" class="form-control" trimmed
               formControlName="institutionName">
    </div>
    <div class="form-group">
        <label for="institutePhone">Telephone</label>
        <p-inputMask mask="(999) 999-9999" class="input-text" formControlName="telephone" unmask="true"
                     placeholder="(999) 999-9999" [style]="{'width':'100%'}"></p-inputMask>
    </div>
    <div class="form-group">
        <label for="zipcode" class="form-label">Zip Code</label>
        <p-autoComplete formControlName="zipCode" [suggestions]="zipCodeResults" class="form-control" required
                        (completeMethod)="onZipCodeSearch($event)" field="ZipCode" [dropdown]="true"
                        forceSelection="true" (onSelect)="onZipCodeSelect($event)" tabindex="12">
            <ng-template let-zipCode pTemplate="item">
                <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                    <div style="font-size:18px;float:left;margin:10px 10px 0 0">{{zipCode.ZipCode}},</div>
                    <div style="font-size:18px;float:left;margin:10px 10px 0 0">{{zipCode.City}},</div>
                    <div style="font-size:18px;float:left;margin:10px 10px 0 0">{{zipCode.StateAbbr}}</div>
                </div>
            </ng-template>
        </p-autoComplete>
    </div>
    <div class="form-group">
        <label for="state" class="form-label">State</label>
        <input id="state" name="state" type="text" class="form-control" autocomplete="off"
               formControlName="state" tabindex="14" trimmed disabled />
    </div>
    <div class="form-group">
        <label for="city" class="form-label">Town/City</label>
        <input id="city" name="city" type="text" class="form-control" autocomplete="off"
               formControlName="cityTown" tabindex="10" trimmed disabled />
    </div>
    <div class="form-group">
        <label for="institutionWeb" class="form-label">Institution Website</label>
        <input id="institutionWeb" name="institutionWeb" type="text" class="form-control" trimmed
               formControlName="institutionWeb">
    </div>
    <div class="form-group">
        <label for="institutionAddress" class="form-label">Institution Address</label>
        <input id="institutionAddress" name="institutionAddress" type="text" class="form-control" trimmed
               formControlName="institutionAddress">
    </div>
    <div class="form-group">
        <input type="checkbox" id="name" formControlName="isActive" />
        <label for="name" style="margin-left:12px">Active</label>
    </div>
    <div class="row">
        <div class="com-md-12">
            <ul class="list-inline mb-0 d-flex justify-content-between mt-2 ml-3">
                <li class="list-inline-item">
                    <button type="reset" class="btn btn-primary btn-portal-border" (click)="hide()">Close</button>
                </li>
                <li class="list-inline-item" style="margin-left:80px">
                    <button type="reset" class="btn btn-primary btn-portal-border" (click)="clear()">Clear</button>
                </li>
                <li class="list-inline-item">
                    <button type="submit" class="btn btn-primary btn-portal" [disabled]="!institutionForm.valid">Add Institution</button>
                </li>
            </ul>
        </div>
    </div>
</form>


<p-toast key="toastKey1"></p-toast>
