<div id="page-content-wrapper">
    <applicant-portal-header (onToggleButtonClicked)="(showHideMenu)()" isVisibleToggleButton=0></applicant-portal-header>
    <section class="main-content">
        <div class="grid">
            <div class="col-12">
                <button pButton pRipple label="Add New" class="button-success btn-add" (click)="openNewAgency()"></button>
            </div>
        </div>
        <div class="container-fluid">
            <p-table #leadTable [responsive]="true"
                     [value]="institutions"
                     selectionMode="single"
                     [(selection)]="selectedInstitute"
                     dataKey="Id"
                     [paginator]="true"
                     [rows]="rows"
                     [columns]="cols"
                     [totalRecords]="totalInstitute"
                     [lazy]="true"
                     (onLazyLoad)="onLazyLoad($event)"
                     [rowsPerPageOptions]="[10,15,20]"
                     [showCurrentPageReport]="true"
                     currentPageReportTemplate="Total Records {{totalInstitute}}">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="width:350px">Institution Name</th>
                        <th>Address</th>
                        <th>Telephone</th>
                        <th>City/Town</th>
                        <th>County</th>
                        <th>State</th>
                        <th>Zip Code</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-ins let-rowData let-columns="columns">
                    <tr [pSelectableRow]="ins">
                        <td style="width:350px">{{ins.InstituteName}}</td>
                        <td>{{ins.Address}}</td>
                        <td>{{ins.Telephone}}</td>
                        <td>{{ins.Town}}</td>
                        <td>{{ins.County}}</td>
                        <td>{{ins.StateName}}</td>
                        <td>{{ins.ZipCode}}</td>
                        <!--<td class="text-center"><button type="button" (click)="onSendToClick(applicant)" class="btn btn-primary btn-import-sync">Send To</button> </td>-->
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </section>
</div>

