<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card portal-card">
        <div class="card-body px-0 py-0">
          <div class="table-responsive">
            <table class="table table-striped table-hover table-borderless">
              <thead class="thead-dark thead-portal">
                <tr>
                  <th>File Name</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Application Form</td>
                  <td class="text-center"><a target="_blank" href="assets/pdf/APPLICATION FORM.pdf" class="text-primary"><i class="fa fa-download"></i></a></td>
                </tr>
                <tr>
                  <td>RN Supervisor Employment Contract</td>
                  <td class="text-center"><a target="_blank" href="assets/pdf/RN SUPERVISOR EMPLOYMENT CONTRACT.pdf" class="text-primary"><i class="fa fa-download"></i></a></td>
                </tr>
                <tr>
                  <td>Staff Nurse Employment Contract</td>
                  <td class="text-center"><a target="_blank" href="assets/pdf/STAFF NURSE EMPLOYMENT CONTRACT.pdf" class="text-primary"><i class="fa fa-download"></i></a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
