<div class="first-div">
  <h5>Applicant Info</h5>
  <app-review-applicant-info></app-review-applicant-info>
</div>
<app-review-physical-info></app-review-physical-info>
<app-review-education></app-review-education>
<app-review-employment></app-review-employment>
<app-review-military></app-review-military>
<app-review-reference></app-review-reference>

<div class="card-footer">
    <ul class="list-inline mb-0 d-flex justify-content-between">
        <li class="list-inline-item">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary btn-block btn-portal" (click)="nextPage()"><i class="fa fa-angle-left" aria-hidden="true"></i>Previous</button>
            </div>
        </li>        
    </ul>
</div>

