<div id="page-content-wrapper">
    <applicant-portal-header (onToggleButtonClicked)="(showHideMenu)()" isVisibleToggleButton=0></applicant-portal-header>
    <section class="main-content">
        <div class="container-fluid">
            <div class="grid">
                <div class="col-12">
                    <button pButton pRipple label="Add New" class="p-button-success" (click)="openNewAgency()"></button>
                </div>
            </div>
            <div class="container-fluid mt-2">
                <p-table #jobTable [responsive]="true"
                         [value]="jobs"
                         selectionMode="single"
                         [(selection)]="selectedJob"
                         dataKey="JobId"
                         [paginator]="true"
                         [rows]="rows"
                         [columns]="cols"
                         [totalRecords]="total"
                         [lazy]="true"
                         (onLazyLoad)="loadJobLazy($event)"
                         [rowsPerPageOptions]="[10,15,20]"
                         [showCurrentPageReport]="true"
                         currentPageReportTemplate="Total Records {{totalJobs}}">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th>Job Title</th>
                            <th>Position</th>
                            <th>Institute</th>
                            <th>Status</th>                            
                            <th>Action</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-job let-rowData let-columns="columns">
                        <tr [pSelectableRow]="job">
                            <td>{{job.JobTitle}}</td>
                            <td>{{job.PositionId}}</td>
                            <td>{{job.InstituteId}}</td>
                            <td>{{job.Status == 1 ? 'Active' : 'Inactive'}}</td>
                            <td><a (click)="onEdit(job)"><i class="pi pi-pencil"></i></a><a style="color:red" (click)="onDelete(job)"><i class="pi pi-trash"></i></a></td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </section>
</div>