<div id="page-content-wrapper">
    <applicant-portal-header (onToggleButtonClicked)="(showHideMenu)()" isVisibleToggleButton=0></applicant-portal-header>
    <section class="main-content">
        <div class="container-fluid">
            <div class="grid">
                <div class="col-12">
                    <button pButton pRipple label="Add New" class="p-button-success" (click)="openNewJob()"></button>
                </div>
            </div>
            <div class="container-fluid mt-2">
                <p-table #jobTable [responsive]="true"
                         [value]="jobs"
                         selectionMode="single"
                         [(selection)]="selectedJob"
                         dataKey="JobId"
                         [paginator]="true"
                         [rows]="rows"
                         [columns]="cols"
                         [totalRecords]="total"
                         [lazy]="true"
                         (onLazyLoad)="loadJobLazy($event)"
                         [rowsPerPageOptions]="[10,15,20]"
                         [showCurrentPageReport]="true"
                         currentPageReportTemplate="Total Records {{totalJobs}}">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th>Job Title</th>
                            <th>Position</th>
                            <th>Institute</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-job let-rowData let-columns="columns">
                        <tr [pSelectableRow]="job">
                            <td>{{job.JobTitle}}</td>
                            <td>{{job.PositionId}}</td>
                            <td>{{job.InstituteId}}</td>
                            <td>{{job.Status == 1 ? 'Active' : 'Inactive'}}</td>
                            <td><a (click)="onEdit(job)"><i class="pi pi-pencil"></i></a><a style="color:red" (click)="onDelete(job)"><i class="pi pi-trash"></i></a></td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </section>
</div>

<p-dialog [(visible)]="jobDialog" [style]="{ width: '1000px' }" header="{{addEditTitle}} Job" [modal]="true" [draggable]="false" [resizable]="false">
    <form [formGroup]="jobFormGroup" novalidate>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="jobTitile" class="form-label">Title</label>
                    <input type="text" id="jobTitile" name="jobTitile" class="form-control" formControlName="jobTitile" required autofocus />
                    <small class="p-error" *ngIf="submitted">Title is required.</small>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="postion" class="form-label">Postion</label>
                    <input type="text" id="postion" name="postion" class="form-control" formControlName="postion" required />
                    <small class="p-error" *ngIf="submitted">Postion is required.</small>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="institution" class="form-label">Institution</label>
                    <input type="text" id="institution" name="institution" class="form-control" formControlName="institution" required />
                    <small class="p-error" *ngIf="submitted">Institution is required.</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p-editor [style]="{ height: '600px' }" formControlName="jobDescription"></p-editor>
            </div>
        </div>
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text p-button-success p-modal-save-btn"></button>
        </ng-template>
    </form>
</p-dialog>

<p-toast></p-toast>
<p-confirmDialog [style]="{ width: '1000px' }" #cd>
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-times" label="No" class="btn-no" (click)="cd.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="Yes" class="btn-yes" (click)="cd.accept()"></button>
    </ng-template>
</p-confirmDialog>
<p-toast key="toastKey1"></p-toast>