:host >>> p-autocomplete {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

:host >>> .ui-autocomplete {
  width: 100%;
}

:host >>> p-autocomplete input, :host >>> p-autocomplete.ng-dirty.ng-invalid > .ui-autocomplete > .ui-inputtext {
  border: none;
  background: transparent;
  width: 90%;
  height: 40px;
}

:host >>> p-autocomplete-dropdown button {
  border: none;
  background: transparent;
  width: 10%;
  height: 500px;
}

:host >>> .ui-button.ui-button-text-icon-left .ui-button-text {
    padding: 8px 0px !important;
    padding-left: 30px !important;
    padding-right: 10px !important;
    border: 0px !important;
    line-height: 15px !important;
}

:host >>> .ui-confirmdialog-message {
    line-height: 2;
}

