<div id="page-content-wrapper">
    <applicant-portal-header (onToggleButtonClicked)="(showHideMenu)()" isVisibleToggleButton=0></applicant-portal-header>
    <section class="main-content">
        <div class="container-fluid">
            <div class="grid">
                <div class="col-12">
                    <button pButton pRipple label="Add New" class="p-button-success" (click)="openNewJob()"></button>
                </div>
            </div>
            <div class="container-fluid mt-2">
                <p-table #jobTable [responsive]="true"
                         [value]="jobs"
                         selectionMode="single"
                         [(selection)]="selectedJob"
                         dataKey="JobId"
                         [paginator]="true"
                         [rows]="rows"
                         [columns]="cols"
                         [totalRecords]="totalJobs"
                         [lazy]="true"
                         (onLazyLoad)="loadJobLazy($event)"
                         [rowsPerPageOptions]="[10,15,20]"
                         [showCurrentPageReport]="true"
                         currentPageReportTemplate="Total Records {{totalJobs}}">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th>Job Title</th>
                            <th>Position</th>
                            <th>Institute</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-job let-rowData let-columns="columns">
                        <tr [pSelectableRow]="job">
                            <td>{{job.JobTitle}}</td>
                            <td>{{job.Position}}</td>
                            <td>{{job.Institute}}</td>
                            <td>{{job.Status == 1 ? 'Active' : 'Inactive'}}</td>
                            <td><a (click)="onEdit(job)"><i class="pi pi-pencil"></i></a><a style="color:red" (click)="onDelete(job)"><i class="pi pi-trash"></i></a></td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </section>
</div>

<p-dialog [(visible)]="jobDialog" [style]="{ width: '1000px' }" header="{{addEditTitle}} Job" [modal]="true" [draggable]="false" [resizable]="false">
    <form [formGroup]="jobFormGroup" novalidate>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="jobTitile" class="form-label">Title</label>
                    <input type="text" id="jobTitile" name="jobTitile" class="form-control" formControlName="jobTitile" required autofocus />
                    <small class="p-error" *ngIf="submitted">Title is required.</small>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="postion" class="form-label">Postion</label>
                    <p-autoComplete formControlName="position" [suggestions]="positionResults" class="form-control"
                                    (completeMethod)="onPositionSearch($event)" required autocomplete="off"
                                    forceSelection="true" (onSelect)="onPositionSelect($event)" [ngClass]="{ 'is-invalid': submitted }" [dropdown]="true">
                        <ng-template let-position pTemplate="item">
                            <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                                <div style="font-size:18px;float:left;margin:10px 10px 0 0">{{position.PositionName}}</div>
                            </div>
                        </ng-template>
                    </p-autoComplete>
                    <small class="p-error" *ngIf="submitted">Postion is required.</small>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="institution" class="form-label">Institution</label>
                    <p-autoComplete formControlName="institution" [suggestions]="institutionResults" class="form-control"
                                    (completeMethod)="onInstitutiionSearch($event)" required autocomplete="off"
                                    forceSelection="true" (onSelect)="onInstitutiionSelect($event)" [ngClass]="{ 'is-invalid': submitted }" [dropdown]="true">
                        <ng-template let-institute pTemplate="item">
                            <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                                <div style="font-size:18px;float:left;margin:10px 10px 0 0">{{institute.InstituteName}}</div>
                            </div>
                        </ng-template>
                    </p-autoComplete>
                    <small class="p-error" *ngIf="submitted">Institution is required.</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p-editor [style]="{ height: '500px' }" formControlName="jobDescription"></p-editor>
            </div>
        </div>
        <div class="row">
            <div class="com-md-12">
                <ul class="list-inline mb-0 d-flex justify-content-between mt-2 ml-3">
                    <li class="list-inline-item">
                        <button type="button" class="btn btn-primary btn-portal-border" (click)="hideDialog()">Close</button>
                    </li>
                    <li class="list-inline-item">
                        <button type="button" class="btn btn-primary btn-portal-border">Clear</button>
                    </li>
                    <li class="list-inline-item">
                        <button type="submit" class="btn btn-primary btn-portal" (click)="save()">Save</button>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</p-dialog>

<p-toast></p-toast>
<p-confirmDialog [style]="{ width: '1000px' }" #cd>
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-times" label="No" class="btn-no" (click)="cd.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="Yes" class="btn-yes" (click)="cd.accept()"></button>
    </ng-template>
</p-confirmDialog>
<p-toast key="toastKey1"></p-toast>