<form [formGroup]="formGroup" novalidate>    
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="to" class="form-label">TO</label>
                <p-chips formControlName="to"></p-chips>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="cc" class="form-label">CC</label>
                <p-chips formControlName="cc"></p-chips>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="bcc" class="form-label">BCC</label>
                <p-chips formControlName="bcc"></p-chips>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="subject" class="form-label">Cureent Salary</label>
                <input type="text" formControlName="subject" placeholder="subject" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="body" class="form-label">Body</label>
                <input type="text" formControlName="body" placeholder="Body" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="com-md-12">
            <ul class="list-inline mb-0 d-flex justify-content-between mt-2 ml-3">
                <li class="list-inline-item">
                    <button type="button" class="btn btn-primary btn-portal-border" (click)="hide()">Close</button>
                </li>
                <li class="list-inline-item" style="margin-left:190px">
                    <button type="button" class="btn btn-primary btn-portal-border" (click)="clear()">Clear</button>
                </li>
                <li class="list-inline-item">
                    <button type="submit" class="btn btn-primary btn-portal" (click)="sendMail()" [disabled]="!formGroup.valid">Save</button>
                </li>
            </ul>
        </div>
    </div>
</form>