<fieldset>
  <legend>{{fileCaption}}</legend>
  <div class="row mb-3">
    <div class="col-md-4">
      <div class="card portal-card">
        <div class="card-body px-3 py-3" style="height:auto;">
          <a *ngIf="filePath" target="_blank" href={{filePath}} routerLinkActive="active" class="btn-portal btn-block ui-button mb-2 btn-download">
            Download
          </a>
          <div class="upload">
            <p-fileUpload mode="advanced"
                          auto="true"
                          customUpload="true"
                          chooseLabel="Upload"
                          accept="image/*,application/pdf,.doc,.docx,application/msword"
                          maxFileSize="5000000"
                          tabindex="1"
                          (onSelect)="onFileSelect($event)"
                          (uploadHandler)="onUploadHandler($event)"
                          [auto]="true">
              <ng-template pTemplate="toolbar">
                <p class="mt-3">Size Maximum 5MB(doc, docx, pdf, jpg, jpeg, png, gif format)</p>
              </ng-template>
              <ng-template let-file pTemplate="file">
              </ng-template>
              <ng-template pTemplate="content">
              </ng-template>
            </p-fileUpload>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <loading-image [is-loading]="isLoading"></loading-image>
      <div class="card portal-card">
        <div class="card-body px-0 py-0" style="height:auto;margin-top: 12px;">
          <p-table #table [responsive]="true"
                   [value]="userFiles"
                   selectionMode="single"
                   [(selection)]="selectedFile"
                   dataKey="userFileID"
                   [paginator]="true"
                   [rows]="5"
                   (onPage)="paginate($event)">
            <ng-template pTemplate="header">
              <tr>
                <th>File Name</th>
                <th class="text-center">Uploaded Date</th>
                <th class="text-center">Action</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-userFile>
              <tr>
                <td>{{userFile.fileName}}</td>
                <td class="text-center">{{userFile.createdDate | date:'MM-dd-yyyy'}}</td>
                <td class="text-center"><a (click)="onDeleteFile(userFile.userFileID)"><i class="fa fa-trash-alt text-danger"></i></a></td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</fieldset>
