<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Progress Tracking
        </div>
        <div class="card-body px-0 py-0">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Comment</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>12-01-2018</td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque corrupti omnis fugiat provident, </td>
              </tr>
              <tr>
                <td>12-01-2018</td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque corrupti omnis fugiat provident, </td>
              </tr>
              <tr>
                <td>12-01-2018</td>
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque corrupti omnis fugiat provident, </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
