<!-- Sidebar Start -->
<div class="bg-light" id="sidebar-wrapper" style="height:100%;">
  <div class="list-group">
    <a [routerLink]="['/personal-info']" routerLinkActive="active" class="list-group-item list-group-item-action" (click)="menuHide($event)"> <i class="fa fa-user-tie"></i>Personal Info.</a>
    <a [routerLink]="['/identification-info']" routerLinkActive="active" class="list-group-item list-group-item-action" (click)="menuHide($event)"> <i class="fa fa-user"></i>Identification Info.</a>
    <!--<a [routerLink]="['/license-certificate']" routerLinkActive="active" class="list-group-item list-group-item-action" (click)="menuHide($event)"> <i class="fa fa-user-tie"></i>License/Certification</a>-->
    <a [routerLink]="['/emergency-info']" routerLinkActive="active" class="list-group-item list-group-item-action" (click)="menuHide($event)"> <i class="fa fa-phone-square"></i>Emergency Info.</a>
    <!--<a [routerLink]="['/nurse-form']" routerLinkActive="active" class="list-group-item list-group-item-action" (click)="menuHide($event)"> <i class="fa fa-plus-square"></i>Nurse Form</a>-->
    <a [routerLink]="['/w9-form-info']" routerLinkActive="active" class="list-group-item list-group-item-action" (click)="menuHide($event)"> <i class="fa fa-info-circle"></i>W9 Form Info.</a>
    <a [routerLink]="['/cbc-form-info']" routerLinkActive="active" class="list-group-item list-group-item-action" (click)="menuHide($event)"> <i class="fa fa-info-circle"></i>CHRC Form Info.</a>
    <a [routerLink]="['/agreement-form-info']" routerLinkActive="active" class="list-group-item list-group-item-action" (click)="menuHide($event)"> <i class="fa fa-th-list"></i>Agreement Form</a>
    <a [routerLink]="['/uscis-info']" routerLinkActive="active" class="list-group-item list-group-item-action" (click)="menuHide($event)"> <i class="fa fa-info-circle"></i>USCIS Info.</a>
    <a [routerLink]="['/influenza-vaccination']" routerLinkActive="active" class="list-group-item list-group-item-action" (click)="menuHide($event)"> <i class="fa fa-medkit"></i>Influenza Vaccination</a>
    <a [routerLink]="['/terms-conditions']" routerLinkActive="active" class="list-group-item list-group-item-action" (click)="menuHide($event)"> <i class="fa fa-list-alt"></i>Terms & Conditions</a>
    <a [routerLink]="['/hepab-hippa-info']" routerLinkActive="active" class="list-group-item list-group-item-action" (click)="menuHide($event)"> <i class="fa fa-heartbeat"></i>Hepatitis B & HIPPA</a>
    <!--<a target="_blank" href="assets/pdf/APPLICATION FORM.pdf" routerLinkActive="active" class="list-group-item list-group-item-action"> <i class="fa fa-file-download"></i>Download Application Form</a>-->
    <!--<a [routerLink]="['/upload-file']" routerLinkActive="active" class="list-group-item list-group-item-action"> <i class="fa fa-file-upload"></i>Upload Files</a>-->
    <!--<a [routerLink]="['/progress-tracking']" class="list-group-item list-group-item-action"> <i class="fa fa-hourglass-half"></i>Progress Tracking</a>-->
    <!--<a [routerLink]="['/disclaimer']" routerLinkActive="active" class="list-group-item list-group-item-action" (click)="menuHide($event)"> <i class="fa fa-file-upload"></i>Disclaimer</a>-->
    <!--<a [routerLink]="['/upload-requirements']" routerLinkActive="active" class="list-group-item list-group-item-action" (click)="menuHide($event)"> <i class="fa fa-file-upload"></i>Upload Requirements</a>-->
    <!--<a [routerLink]="['/change-password']" routerLinkActive="active" class="list-group-item list-group-item-action" (click)="menuHide($event)"> <i class="fa fa-keyboard"></i>Change Password</a>-->
    <!--<a [routerLink]="['/view-by-applicant']" routerLinkActive="active" class="list-group-item list-group-item-action" (click)="menuHide($event)"> <i class="fa fa-search"></i>Applicant Search</a>-->
    <!--<a [routerLink]="['/view-by-applicant']" routerLinkActive="active" class="list-group-item list-group-item-action view-by-applicant" (click)="menuHide($event)"> <i class="fa fa-file-upload"></i>Applicant Search</a>-->
  </div>
</div>
<!-- Sidebar End -->
