<div id="page-content-wrapper">
    <applicant-portal-header (onToggleButtonClicked)="(showHideMenu)()" isVisibleToggleButton=0></applicant-portal-header>
    <section class="main-content">
        <div class="container-fluid">
            <div class="grid">
                <div class="col-12">
                    <button pButton pRipple label="Add New" class="p-button-success" (click)="onNew()" tabindex="0"></button>
                </div>
            </div>
            <div class="container-fluid mt-2">
                <div class="login mb-3" style="padding:20px" *ngIf="showAddEdit">
                    <div class="login-form ">
                        <h4>{{addEditTitle}} Mail Configuration</h4>
                        <form [formGroup]="formGroup" novalidate>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="title" class="form-label">Title</label>
                                        <input type="text" id="profileName" name="profileName" class="form-control" formControlName="profileName" tabindex="1" required autofocus />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="title" class="form-label">Email</label>
                                        <input type="text" id="emailAddress" name="emailAddress" class="form-control" formControlName="emailAddress" tabindex="2" required />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="com-md-12">
                                    <ul class="list-inline mb-0 d-flex justify-content-between mt-2 ml-3">
                                        <li class="list-inline-item">
                                            <button type="button" class="btn btn-primary btn-portal-border" (click)="onHide()">Close</button>
                                        </li>
                                        <li class="list-inline-item">
                                            <button type="button" class="btn btn-primary btn-portal-border" (click)="onClear()">Clear</button>
                                        </li>
                                        <li class="list-inline-item">
                                            <button type="submit" class="btn btn-primary btn-portal" (click)="onSave()" [disabled]="!formGroup.valid">{{addEditButtonTitle}}</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <loading-image [is-loading]="isLoading"></loading-image>
                <p-table [responsive]="true"
                         dataKey="Id"
                         [value]="mailconfigs"
                         selectionMode="single"
                         [(selection)]="selectedMailConfig"
                         [paginator]="true"
                         [rows]="10"
                         [rowsPerPageOptions]="[10,15,20]"
                         [showCurrentPageReport]="true">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th>Profile Name</th>
                            <th>Email Address</th>
                            <th>Google Api Error</th>
                            <th>Action</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-mailConfig let-rowData let-columns="columns">
                        <tr [pSelectableRow]="form">
                            <td>{{mailConfig.ProfileName}}</td>
                            <td>{{mailConfig.EmailAddress}}</td>
                            <td>{{mailConfig.IsGoogleApiError == true ? 'Yes' : 'No'}}</td>
                            <td>
                                <a (click)="onEdit(mailConfig)"><i class="pi pi-pencil"></i></a>
                                <a style="color:red" (click)="onDelete(mailConfig)"><i class="pi pi-trash"></i></a>
                                <a style="color:red" (click)="onEmail()">Send</a>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </section>
</div>

<p-toast></p-toast>
<p-confirmDialog [style]="{ width: '500px' }" #cd>
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-times" label="No" class="btn-no" (click)="cd.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="Yes" class="btn-yes" (click)="cd.accept()"></button>
    </ng-template>
</p-confirmDialog>
<p-toast key="toastKey1"></p-toast>

