:host >>> .ui-button.ui-button-text-icon-left .ui-button-text {
    padding: 8px 0px !important;
    padding-left: 30px !important;
    padding-right: 10px !important;
    border: 0px !important;
    line-height: 15px !important;
}

:host >>> .ui-confirmdialog-message {
    line-height: 2;
}

:host >>> .ui-table .ui-table-tbody > tr.ui-state-highlight {
    background-color: #007ad9 !important;
}