:host >>> .upload p {
  line-height: 16px;
}

:host >>> p-autocomplete {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

:host >>> .ui-autocomplete {
  width: 100%;
}

:host >>> p-autocomplete input, :host >>> p-autocomplete.ng-dirty.ng-invalid > .ui-autocomplete > .ui-inputtext {
  border: none;
  background: transparent;
  width: 90%;
  height: 40px;
}

:host >>> p-autocomplete-dropdown button {
  border: none;
  background: transparent;
  width: 10%;
  height: 500px;
}

.required {
  color: red;
}

:host >>> .ui-fileupload .ui-fileupload-buttonbar .ui-button {
    width: 100% !important;
    margin: 0px !important;
    padding: 10px !important;
    box-shadow: none !important;
    background: #434A5A !important;
    border-radius: 4px !important;
    /*border-left: 5px solid green !important;*/
}

:host >>> .fileupload-required div > div :first-child {
    border-left: 5px solid red !important;
}

:host >>> .fileupload-success div > div :first-child {
    border-left: 5px solid green !important;
}

:host >>> .ui-table .ui-table-tbody > tr.ui-state-highlight {
    background-color: #007ad9 !important;
}
