<div id="page-content-wrapper">
    <applicant-portal-header (onToggleButtonClicked)="(showHideMenu)()" isVisibleToggleButton=0></applicant-portal-header>
    <section class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <div style="background-color:white;padding:15px;cursor:pointer;">
                        <p-chart type="pie" [data]="applicantCount" 
                                 [options]="applicantCountOptions" 
                                 (onDataSelect)="onApplicantCountSliceClick($event)">
                        </p-chart>
                    </div>
                </div>
                <div class="col-6">
                    <div style="background-color: white; padding: 15px;">
                        <!--<p-chart type="polarArea" [data]="statusCount"></p-chart>-->
                        <div id="funnel"></div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <div style="background-color: white; padding: 15px;">
                        <p-chart type="bar" [data]="data1"></p-chart>
                    </div>
                </div>
                <div class="col-6">
                    <div style="background-color: white; padding: 15px;">
                        <div style="background-color: aliceblue; padding: 16px">
                            <p-fullCalendar [events]="events" [options]="calendarOptions"></p-fullCalendar>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
