<div id="page-content-wrapper">
    <applicant-portal-header (onToggleButtonClicked)="(showHideMenu)()" isVisibleToggleButton=0></applicant-portal-header>
    <section class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <div style="background-color:white">
                        <p-chart type="pie" [data]="applicantCount"></p-chart>
                    </div>
                </div>
                <div class="col-6">
                    <div style="background-color:white">
                        <p-chart type="doughnut" [data]="jobCount"></p-chart>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div style="background-color:white;margin-top:16px">
                        <p-chart type="bar" [data]="data1"></p-chart>
                    </div>
                </div>
                <div class="col-6">
                    <div style="background-color: white; margin-top: 16px">
                        <p-chart type="polarArea" [data]="applicantCount"></p-chart>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
