<div id="page-content-wrapper">
    <applicant-portal-header (onToggleButtonClicked)="(showHideMenu)()" isVisibleToggleButton=0></applicant-portal-header>
    <section class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <p-chart type="pie" [data]="data"></p-chart>
                </div>
                <div class="col-6">
                    <p-chart type="doughnut" [data]="data"></p-chart>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <p-chart type="bar" [data]="data1"></p-chart>
                </div>
                <div class="col-6">
                    <p-chart type="polarArea" [data]="data"></p-chart>
                </div>
            </div>
        </div>
    </section>
</div>
