<div id="page-content-wrapper">
    <applicant-portal-header (onToggleButtonClicked)="(showHideMenu)()" isVisibleToggleButton=0></applicant-portal-header>

    <section class="main-content">
        <div style="padding: 0rem 1rem 1rem 1rem !important; ">
            <div class="card-body px-3 py-3" style="height: auto; background-color: white;">
                <form (ngSubmit)="onSearchClick()" [formGroup]="searchFg">
                    <div class="row">
                        <div class="col-sm-6 col-md-2 col-lg-2">
                            <div class="form-group">
                                <label for="fromDate" class="form-label">From Date</label>
                                <p-calendar formControlName="fromDate" [monthNavigator]="true" [yearNavigator]="true" [showIcon]="true" [maxDate]="maxDateValue" yearRange="1923:2030"></p-calendar>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-2 col-lg-2">
                            <div class="form-group">
                                <label for="toDate" class="form-label">To Date</label>
                                <p-calendar formControlName="toDate" [monthNavigator]="true" [yearNavigator]="true" [showIcon]="true" [maxDate]="maxDateValue" yearRange="1923:2023"></p-calendar>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-2 col-lg-2">
                            <div class="form-group" style="margin-top:20px;float:right">
                                <button type="button" (click)="onClear()" class="btn btn-clear mr-3" tabindex="7">Clear</button>
                                <button type="submit" class="btn btn-search" tabindex="6">Search</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <div class="container-fluid">
            <p-table [responsive]="true"
                     [value]="entryExits"
                     selectionMode="single"
                     [(selection)]="selectedInstitute"
                     dataKey="Id"
                     [paginator]="true"
                     [rows]="rows"
                     [columns]="cols"
                     [totalRecords]="totalInstitute"
                     [lazy]="true"
                     (onLazyLoad)="onLazyLoad($event)"
                     [rowsPerPageOptions]="[10,15,20]"
                     [showCurrentPageReport]="true"
                     currentPageReportTemplate="Total Records {{totalInstitute}}">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th>Recruiter Name</th>
                        <th>Log In Time</th>
                        <th>Log Out Time</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-entry let-columns="columns">
                    <tr [pSelectableRow]="entry">
                        <td>{{entry.RecruiterName}}</td>
                        <td>{{entry.LogInTime}}</td>
                        <td>{{entry.LogOutTime}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </section>
</div>
<p-toast></p-toast>


