<div id="page-content-wrapper">
    <applicant-portal-header (onToggleButtonClicked)="(showHideMenu)()" isVisibleToggleButton=0></applicant-portal-header>
    <loading-image [is-loading]="isLoading"></loading-image>
    <section class="main-content">
        <div class="container-fluid">
            <div class="container-fluid mt-2">
                <p-table #smsTable [responsive]="true"
                         [value]="smsHistory"
                         selectionMode="single"
                         [(selection)]="selectedJob"
                         dataKey="Id"
                         [paginator]="true"
                         [rows]="rows"
                         [columns]="cols"
                         [totalRecords]="totalSms"
                         [lazy]="true"
                         (onLazyLoad)="loadJobLazy($event)"
                         [rowsPerPageOptions]="[10,15,20]"
                         [showCurrentPageReport]="true"
                         currentPageReportTemplate="Total Records: {{totalSms}}">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th>Send Time</th>
                            <th>From Number</th>
                            <th>To Number</th>
                            <th>Message Body</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-job let-rowData let-columns="columns">
                        <tr [pSelectableRow]="job">
                            <td>{{job.JobTitle}}</td>
                            <td>{{job.Position}}</td>
                            <td>{{job.Institute}}</td>
                            <td>{{job.Status == 1 ? 'Open' : 'Closed'}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </section>
</div>