<p>form-list works!</p>

<h1> fafdasd dsdada</h1>

<div id="page-content-wrapper">
    <applicant-portal-header (onToggleButtonClicked)="(showHideMenu)()" isVisibleToggleButton=0></applicant-portal-header>
    <section class="main-content">
        <!--<div class="grid">
            <div class="col-12">
                <button pButton pRipple label="Send To" class="button-success btn-add" (click)="onSendToClick()"></button>
            </div>
        </div>-->
        <div class="container-fluid">
            <h1>asdsdasdsad </h1>
        </div>
    </section>
</div>


