<loading-image [is-loading]="isLoading"></loading-image>
<div class="container-fluid">
  <div class="card portal-card">
    <div class="card-body">
      <div class="row">
        <a [routerLink]="['./add-edit-w9']" class="text-right card-edit"><i class="fa fa-edit text-edit"></i></a>
        <a class="text-right card-edit" (click)="onDownloadClick()" style="margin-top:50px;"><i class="fa fa-download text-download"></i></a>
        <div class="col-md-12">
          <ul class="list-group">
            <li class="list-group-item list-group-item-action">
              <div class="row">
                <div class="col-4">
                  <label for="">Name (as shown on your income tax return):<span> {{name}} </span></label>
                </div>
                <div class="col-4">
                  <label for=""> Business name:<span> {{businessName}} </span></label>
                </div>
                <div class="col-4">
                  <label for="">Limited liability company : {{companyLiability}}</label>
                </div>
              </div>
            </li>
            <li class="list-group-item list-group-item-action">
              <div class="row">
                <div class="col-4">
                  <label for="">Individual/sole proprietor:  {{individualProprietor}}</label>
                </div>
                <div class="col-4">
                  <label for="">C Corporation:  {{cCorporation}}</label>
                </div>
                <div class="col-4">
                  <label for="">S Corporation : {{sCorporation}}</label>
                </div>
              </div>
            </li>
            <li class="list-group-item list-group-item-action">
              <div class="row">
                <div class="col-4">
                  <label for="">Partnership:  {{partnership}}</label>
                </div>
                <div class="col-4">
                  <label for="">Trust: {{trust}}</label>
                </div>
                <div class="col-4">
                  <label for="">Others:  {{other}}</label>
                </div>
              </div>
            </li>
            <li class="list-group-item list-group-item-action">
              <div class="row">
                <div class="col-4">
                  <label for="">Exempt payee code (if any) : {{payeeCode}}</label>
                </div>
                <div class="col-4">
                  <label for="">Exemption from FATCA reporting code (if any):  {{FATCACode}}</label>
                </div>
                <div class="col-4">
                  <label for="">Apt No:  {{aptNo}}</label>
                </div>
              </div>
            </li>
            <li class="list-group-item list-group-item-action">
              <div class="row">
                <div class="col-4">
                  <label for="">Street Address : {{stAddress}}</label>
                </div>
                <div class="col-4">
                  <label for="">Town/City:  {{city}}</label>
                </div>
                <div class="col-4">
                  <label for="">State:<span> {{state}} </span></label>
                </div>
              </div>
            </li>
            <li class="list-group-item list-group-item-action">
              <div class="row">
                <div class="col-4">
                  <label for="">Zip Code : {{zipCode}}</label>
                </div>
                <div class="col-4">
                  <label for="">List account number(s) here (optional):  {{accountNo}}</label>
                </div>
                <div class="col-4">
                  <label for="">Requester’s name and address (optional):<span> {{requesterName}} </span></label>
                </div>
              </div>
            </li>
            <li class="list-group-item list-group-item-action">
              <div class="row">
                <div class="col-4">
                  <label for="">Social Security No : {{ssn}}</label>
                </div>
                <div class="col-4">
                  <label for="">Employer Identification No:  {{empIdNo}}</label>
                </div>
                <div class="col-4">
                  <label for="">Date:  {{getClientFormattedDate(date)}}</label>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
